body {
  background-color: white;
  padding: 1em;
  margin-top: 5%;
}

pre {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left:1em;
    margin-right: 1em;
    padding: 1em;
    background-color: #eee;
}
#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}


