body {
  background-color: white;
  width: 80%;
  padding: 1em;
  margin: 5% 10%;
  display: block;
}

pre {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left:1em;
    margin-right: 1em;
    padding: 1em;
    background-color: #eee;
}
#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}


