body {
  background-color: white;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  border: thin solid gray;
  border-radius: 5px;
  display: block;
}

#menu li {
    display: inline;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

pre {
    margin: 2em 1em 2em 4em;
}

